 
  
    img {
      width: 100px;
      height: 100px;
     }
     hr {
       size: 100px ;
       width: 70% ; 
       border: solid 1px #000;
     }
 
       * {
         font-family: "Trebuchet MS";
       }
       h1 {
         text-transform: uppercase;
         color: salmon;
       }
     table {
       border: solid 1px #DDEEEE;
       border-collapse: collapse;
       border-spacing: 0;
       width: 70%;
       margin: 10px auto 10px auto;
     }
     table thead th {
         background-color: #DDEFEF;
         border: solid 1px #DDEEEE;
         color: #336B6B;
         padding: 10px;
         text-align: left;
         text-shadow: 1px 1px 1px #fff;
         text-decoration: none;
     }
     table tbody td {
         border: solid 1px #DDEEEE;
         color: #333;
         padding: 10px;
         text-shadow: 1px 1px 1px #fff;
     }
     a {
           background-color: salmon;
           color: #fff;
           padding: 10px;
           text-decoration: none;
           font-size: 12px;
     }
 
     * {
         font-family: "Trebuchet MS";
       }
       h1 {
         text-transform: uppercase;
         color: salmon;
       }
     button {
           background-color: salmon;
           color: #fff;
           padding: 10px;
           text-decoration: none;
           font-size: 12px;
           border: 0px;
           margin-top: 20px;
     }
     label {
      margin-top: 10px;
      float: left;
      text-align: left;
      width: 100%;
    }
    input {
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      background: #f8f8f8;
      border: 2px solid #ccc;
      outline-color: salmon;
    }
    div {
      width: 100%;
      height: auto;
    }
    .base {
      width: 1000px;
      height: auto;
      padding: 100px;
      margin-left: auto;
      margin-right: auto;
      background: #ededed;
    }

 
